html {
  font-size: 100%;
  max-width: 100%;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  scroll-padding-top: 110px; /* height of sticky header */
}

html a {
  -webkit-font-smoothing: antialiased;
}

body {
  line-height: 1.7;
  color: #231f20;
  font-size: 1.7075773745997866vh;
  background-color: #fff;
  max-width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

body.loaded {
  overflow-y: auto;
}

a {
  color: #231f20;
  text-decoration: none;
}

a:link,
a:hover,
a:focus {
  color: #231f20;
  text-decoration: none;
}

a img {
  border: none;
}

.container,
.container-fluid {
  position: relative;
  padding-top: 0px;
  padding-bottom: 0px;
}

.view,body,html{
  height:100%
}

.page-footer,
.top-nav-collapse{
  background-color:#1C2331
}

.ml-8{
  margin-left: 4.5rem!important;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  display: block;
  padding: 0;
  text-decoration: none;
  color: #aaa;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}

nav .container-fluid{
  padding: 0 20em;
}

.navbar{
  background-color: #d71e41;
  margin-top: 25px;
}

.navbar ul li a{
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  margin-left: .1em;
  font-size: 1.4vh;
  text-transform: uppercase;
}

nav.stroke ul li.nav-item a,
nav.fill ul li.nav-item a {
  position: relative;
}
nav.stroke ul li.nav-item a:after,
nav.fill ul li.nav-item a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #fff;
  height: 2px;
}
nav.stroke ul li.nav-item a:hover:after {
  width: 100%;
}

nav.fill ul li.nav-item a {
  transition: all 2s;
}

nav.fill ul li.nav-item a:after {
  text-align: left;
  content: '.';
  margin: 0;
  opacity: 0;
}
nav.fill ul li.nav-item a:hover {
  color: #fff;
  z-index: 1;
}
nav.fill ul li.nav-item a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}

.navbar-toggler {
  background-color: #fff;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(238, 29, 35, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

header {
  position: relative;
  background-color: white;
  height: 80vh;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-color: white;
}

header .container {
  position: relative;
  z-index: 2;
  background-color: white;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

header .play-video{
  margin-top: 100px
}

header .btn__branco__borda{
  color: #fff;
  background-color: transparent;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  border: 2px solid #fff;
  padding: 15px 25px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  text-transform: uppercase;
  font-size: 1.7017075773746vh;
	cursor: pointer;
	transition: 0.4s all cubic-bezier(0.25, 0.46, 0.45, 0.94);
	position: relative;
	z-index: 2;
}

header .btn__branco__borda:after {
	content: "";
	position: absolute;
	transition: 0.4s all cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

header .btn__branco__borda:hover {
	background-color: #d71e41;
  border: 2px solid #d71e41;
	color: #fff;
}

.col-12{
  margin-top: -65px;
  float: left;
}

.speaker {
	height: 100px;
	width: 100px;
	position: relative;
	overflow: hidden;
	display: inline-block;
  margin-bottom: 40px;
}

.speaker span {
	display: block;
	width: 8px;
	height: 8px;
	background: #fff;
	margin: 11px 0 0 2px;
  
}

.meio {
  background-color: #fff;
  margin: 4em 0 0 0;
}

.meio .brasil__canada{
  background-color: #d91e42;
  margin-top: 5em;
  padding: 3.5em 0;
}

.meio .brasil__canada .titulo{
  text-align: center;
}

.meio .brasil__canada .titulo h4{
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 5.336179295624333vh;
  text-transform: uppercase;
  line-height: 0;
  padding-right:2em;
}

.meio .brasil__canada .titulo h3{
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 10.672358591248665vh;
  text-transform: uppercase;
}

.meio .brasil__canada img{
  margin-left: 20em;
}

.meio .brasil__canada p{
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 2.3479188900747063vh;
  padding-right: 17em;
}

.meio .educacao__bilingue{
  background-image: url(../imgs/bg-listrado.png);
}

.meio .educacao__bilingue .titulo{
  text-align: center;
  margin-top: 5em;
  margin-bottom: 3em;
}

.meio .educacao__bilingue .titulo h4{
  color: #000;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 5.336179295624333vh;
  text-transform: uppercase;
  line-height: 0;
  padding-left:4.3em;
}

.meio .educacao__bilingue .titulo h3{
  color: #000;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 10.672358591248665vh;
  text-transform: uppercase;
}

.meio .educacao__bilingue h4{
  color: #000;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 3.2017075773746vh;
  text-transform: uppercase;
  line-height: 0;
  padding-left:.77em;
  margin-bottom: .5em;
}

.meio .educacao__bilingue p{
  color: #000;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 2.3479188900747063vh;
  margin-bottom: 2.5em;
}

.meio .educacao__bilingue .baloes img{
  max-width: 350px;
}

.meio .educacao__bilingue .proud-partners{
  margin-top: 4em;
}

.meio .educacao__bilingue .proud-partners img{
  max-width: 600px;
}

.meio .educacao__bilingue .partners{
  margin-top: 2em;
}

.meio .educacao__bilingue .partners img{
  max-width: 180px;
}

.meio .proposta__pedagogica{
  background-color: #f7c212;
  margin-top: 5em;
}

.meio .proposta__pedagogica .titulo{
  text-align: center;
}

.meio .proposta__pedagogica .titulo h4{
  color: #000;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 5.336179295624333vh;
  text-transform: uppercase;
  line-height: 0;
  padding-right:11em;
  margin-bottom: 30px;
}

.meio .proposta__pedagogica .titulo h3{
  color: #000;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 10.672358591248665vh;
  text-transform: uppercase;
  line-height: .75;
}

.meio .proposta__pedagogica img{
  margin-left:20em;
}

.meio .proposta__pedagogica h4{
  color: #000;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 2.3479188900747063vh;
  padding-right: 17em;
  margin-bottom: 2em;
  line-height: 1;
}

.meio .proposta__pedagogica h5{
  color: #000;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 2.3479188900747063vh;
  padding-right: 17em;
  margin-top: 4em;
  margin-bottom: 2em;
}

.meio .proposta__pedagogica p{
  color: #000;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 2.134471718249733vh;
  padding-right: 17em;
}

.meio .nossas__unidades{
  background-color: #ffffff;
  margin-top: 0em;
  padding-bottom: 4em;
}

.meio .nossas__unidades .titulo{
  text-align: center;
}

.meio .nossas__unidades .titulo h4{
  color: #000;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 5.336179295624333vh;
  text-transform: uppercase;
  line-height: 0;
  padding-right:8em;
  margin-bottom: 30px;
}

.meio .nossas__unidades .titulo h3{
  color: #000;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 10.672358591248665vh;
  text-transform: uppercase;
  line-height: .75;
}

.meio .nossas__unidades h4{
  color: #000;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.8479188900747063vh;
  margin-bottom: 1.3em;
  padding-left: 0;
}

.meio .nossas__unidades .btn__vermelho{
  color: #fff;
  background-color: #D71E41;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  border: 2px solid #D71E41;
  padding: 10px 0;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  text-transform: uppercase;
  font-size: 1.4017075773746vh;
  text-align: center;
  cursor: pointer;
	transition: 0.4s all cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.meio .nossas__unidades .btn__vermelho:hover {
  color: #D71E41;
  background-color: transparent;
  border: 2px solid #D71E41;
}

.btn-block {
  display: block;
  width: 50%;
}

footer {
  background-color: #ee1d23;
  padding: 2em 0 1em 0;
}

footer .btn__amarelo{
  color: #fff;
  background-color: #f7c212;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  border: 2px solid #f7c212;
  padding: 10px 15px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  text-transform: uppercase;
  font-size: 1.6017075773746vh;
  text-align: center;
  cursor: pointer;
	transition: 0.4s all cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

footer .btn-block {
  display: block;
  width: 100%;
}

footer .btn__amarelo:hover {
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
}

footer .col-md-2{
  text-align: center;
}

footer .instagram svg{
  width: 100px;
}

footer .instagram svg path{
  color: #f7c212;
  fill: currentcolor;
  transition: 0.4s all cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

footer .instagram svg:hover path{
  color: #fff;
  fill: currentcolor;
}

footer .facebook svg{
  width: 100px;
}

footer .facebook svg path{
  color: #f7c212;
  fill: currentcolor;
  transition: 0.4s all cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

footer .facebook svg:hover path{
  color: #fff;
  fill: currentcolor;
}

footer .youtube svg{
  width: 100px;
}

footer .youtube svg path{
  color: #f7c212;
  fill: currentcolor;
  transition: 0.4s all cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

footer .youtube svg:hover path{
  color: #fff;
  fill: currentcolor;
}

footer p{
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.4941302027748133vh;
  text-align: right;
}

.modal-dialog {
  max-width: 1100px;
  margin: 1.75rem auto;
}

.modal-title {
  color: #D71E41;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 2.336179295624333vh;
  text-transform: uppercase;
  margin-bottom: 0;
  line-height: 1.5;
}

.modal-body h3 {
  color: #D71E41;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
}

.modal-body p {
  color: #343E47;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
}

.modal-body p strong a {
  color: #D71E41;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
}

/* Language Switcher */
.language-dropdown {
  height: 32px;
  position: relative;
  width: 80px;
  margin-left: 1em;
}
.language-dropdown:before, .language-dropdown:after, .language-dropdown > * {
  display: block;
  position: absolute;
}
.language-dropdown:before, .language-dropdown:after {
  content: "";
  z-index: 2;
}
.language-dropdown:before {
  background-color: rgba(0, 0, 0, 0.15);
  height: 20px;
  left: 44px;
  top: 6px;
  width: 1px;
}
.language-dropdown:after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 6 10'%3E%3Cpath d='M3 10l3-4H0l3 4zM3 0l3 4H0l3-4z' fill='%23565D6D' fill-rule='evenodd'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 6px 10px;
  height: 24px;
  right: 5px;
  top: 4px;
  width: 24px;
}
.language-dropdown select, .language-dropdown .background {
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}
.language-dropdown select {
  cursor: pointer;
  display: block;
  opacity: 0;
  z-index: 3;
}
.language-dropdown select:hover + .background {
  border-color: #9ea0a3;
}
.language-dropdown select:focus + .background {
  box-shadow: -3px -3px 0 #a5bffc, 3px -3px 0 #a5bffc, 3px 3px 0 #a5bffc, -3px 3px 0 #a5bffc;
}
.language-dropdown .background {
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #dbdfe2;
  z-index: 1;
}
.language-dropdown .flags {
  height: 24px;
  left: 10px;
  top: 4px;
  width: 24px;
  z-index: 2;
}
.language-dropdown .flags .flag {
  display: none;
  width: inherit;
  height: inherit;
  font-size: 0;
  line-height: 0;
}
.language-dropdown .flags .flag.display {
  display: block;
}